<%- include('./partial/header.ejs')%>
<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6"><p class="text-center fs-3">Edit Task</p></div>
  <div class="col-3"></div>
  <div class="col-1"></div>
  <div
    class="col-10 rounded text-dark shadow p-3 mb-5 rounded"
    style="background-color: rgba(207, 236, 245, 0.872)"
  >
    <div class="row">
      <div class="col-1 mt-2"></div>
      <div class="col-3 mt-2"><p class="fs-4">TaskId</p></div>
      <div class="col-2 mt-2"></div>
      <div class="col-6 mt-2">2534534gveberbebeb</div>

      <div class="col-1 mt-2"></div>
      <div class="col-3 mt-2"><p class="fs-4">Name</p></div>
      <div class="col-2 mt-2"></div>
      <div class="col-6 mt-2">
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Eg. Task name"
        />
      </div>

      <div class="col-1 mt-2"></div>
      <div class="col-3 mt-2"><p class="fs-4">Completed</p></div>
      <div class="col-2 mt-2"></div>
      <div class="col-6 mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
          checked
        />
      </div>
      <div class="col-4"></div>
      <div class="col-6">
        <button
          type="button"
          class="btn btn-info fs-5 rounded"
          style="width: 50%"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-6">
    <button
      type="button"
      class="btn btn-info fs-4 text-white"
      style="width: 55%; background-color: black"
    >
      BACK TO TASKS
    </button>
  </div>
</div>
<%- include('./partial/footer.ejs')%>
